@font-face {
    font-family: main;
    src: url(MonaspaceArgon-Light.otf);
}
@font-face {
    font-family: fat;
    src: url(MonaspaceArgon-Regular.otf);
}
body{
    font-family: main;
    background-color: var(--bg1);
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--bg1); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--bg4); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--bg3); 
}

#lockList{
    background-color: var(--bg2);
    display:flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    height: 470px;
    overflow-y: scroll;
}
.file{
    background-color: var(--bg2);
    display: flex;
    flex-direction: row;
    width: calc(100%-10px);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    text-align: left;
    border: 1px solid var(--bg3);
    color: var(--text);
    font-size: 14px;
}
.Button{
    font-family: main;
    background-color: var(--bg2);
    border: 1px solid var(--bg3);
    color: var(--text);
    border-radius: 5px;
    width: calc(100%-10px);
    padding: 5px;

}
.Button:hover{
    background-color:var(--bg4);
}
#nav{
    display: none;
    justify-content: space-between;
}
#initNav{
    display: flex;
    justify-content: space-between;
}
#AddFolder{
    
}
#AddFile{
    
}
#pathBox{
    background-color: var(--bg2);
    border: 1px solid var(--bg3);
    color: #fafbfc;
    border-radius: 5px;
    width: calc(100%-10px);
    padding: 5px;
    outline: none;
    font-family: main;
    width: 52%;
}
.RepoPathSelect{
    display:block;
}
.remove{
    background-color: var(--bg3);
    border-radius: 4px;
    width: 25px;
    height: 20px;
    background-image: url(remove.svg);
    background-size: cover;
}
.remove:hover{
    background-color: var(--bg4);
    border-radius: 4px;
}
#listHeader{
    width: 90%;
    font-family: fat;
    background-color: var(--bg2);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    color: var(--text2);
    border-radius: 5px;
    padding: 2px 10px 0 10px;
    padding-top: 4px;
    text-decoration: underline;
    font-size: 14px;

}
#headerFileThingi{
    margin-right: 400px;
}
#Refresh{
    background-image: url(refresh.svg);
    background-size: cover;
    height: 25px;
    width: 25px;
    margin-top: 9px;
}
#sbsbar{
    display: flex;
    justify-content: space-between;
}
#logout{
    background-image: url(logout.svg);
    background-size: cover;
    height: 30px;
    width: 30px;
}
#SearchBox{
    background-color: var(--bg2);
    border: 1px solid var(--bg3);
    color: var(--text);
    border-radius: 5px;
    width: calc(100%-10px);
    padding: 5px;
    outline: none;
    width: 72%;
    font-family: main;
}
#SearchBox::placeholder{
    color:var(--text2);
}
#SearchBoxDrop{
    font-size: 12px;
    color: var(--text);
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--bg2);
    border-left: 1px solid var(--bg3);
    border-right: 1px solid var(--bg3);
    border-bottom: 1px solid var(--bg3);
    top:35px;
    position: fixed;
    width: 553px;
    height: auto;
    max-height: 500px;
    left:60px;
    display: none;
    z-index: 2;
    overflow-y: scroll;
    flex-direction: column;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 5px;
}
.searchEntry{
    padding-left: 5px;
    border-bottom: 1px solid var(--bg3);
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 5px;
    word-break: break-all;
}
.searchEntry:hover{
    background-color: var(--bg4);
}
.cbox{
    width: calc(80%);
    padding-left: 20px;
}
.id{
    padding-right: 20px;
    width: 120px;
}
.name{
    width: 200px;
}
#CloseBtn{
    background-image: url(close.svg);
    background-size: cover;
    height: 30px;
    width: 30px;
    position: fixed;
    right: 5px;
    top: 5px;
}
#settingsBtn{
    background-image: url(settings.svg);
    background-size: cover;
    height: 30px;
    width: 30px;
}
#settings{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg1);
    padding-top: 35px;
    padding-left: 10px;
    display: none;

}
#settingsContent{
    flex-direction: column;
    display: flex;
    width: calc(100% - 27px);
    height: auto;
    background-color: var(--bg2);
    border-radius: 5px;
    padding-left: 5px;
    margin-top: 10px;
    border:var(--border);
}
.settingsRow{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
}
.settingsRow div:not(.secd){
    color:var(--text);
    width: 60%;
}

#themeSelect{
    background-color: var(--bg2);
    color: var(--text);
    border: var(--border);
    outline: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}


.secd{
    color:var(--text);
    text-align: right;
    margin-left: auto;
    margin-right: 20px;
    
}

  .checkbox-wrapper-7 .tgl {
    display: none;
  }
  .checkbox-wrapper-7 .tgl,
  .checkbox-wrapper-7 .tgl:after,
  .checkbox-wrapper-7 .tgl:before,
  .checkbox-wrapper-7 .tgl *,
  .checkbox-wrapper-7 .tgl *:after,
  .checkbox-wrapper-7 .tgl *:before,
  .checkbox-wrapper-7 .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  .checkbox-wrapper-7 .tgl::-moz-selection,
  .checkbox-wrapper-7 .tgl:after::-moz-selection,
  .checkbox-wrapper-7 .tgl:before::-moz-selection,
  .checkbox-wrapper-7 .tgl *::-moz-selection,
  .checkbox-wrapper-7 .tgl *:after::-moz-selection,
  .checkbox-wrapper-7 .tgl *:before::-moz-selection,
  .checkbox-wrapper-7 .tgl + .tgl-btn::-moz-selection,
  .checkbox-wrapper-7 .tgl::selection,
  .checkbox-wrapper-7 .tgl:after::selection,
  .checkbox-wrapper-7 .tgl:before::selection,
  .checkbox-wrapper-7 .tgl *::selection,
  .checkbox-wrapper-7 .tgl *:after::selection,
  .checkbox-wrapper-7 .tgl *:before::selection,
  .checkbox-wrapper-7 .tgl + .tgl-btn::selection {
    background: none;
  }
  .checkbox-wrapper-7 .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .checkbox-wrapper-7 .tgl + .tgl-btn:after,
  .checkbox-wrapper-7 .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }
  .checkbox-wrapper-7 .tgl + .tgl-btn:after {
    left: 0;
  }
  .checkbox-wrapper-7 .tgl + .tgl-btn:before {
    display: none;
  }
  .checkbox-wrapper-7 .tgl:checked + .tgl-btn:after {
    left: 50%;
  }

  .checkbox-wrapper-7 .tgl-ios + .tgl-btn {
    background: var(--bg2);
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
    border: 1px solid var(--bg4);
  }
  .checkbox-wrapper-7 .tgl-ios + .tgl-btn:after {
    border-radius: 2em;
    background: var(--bg4);
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
  }
  .checkbox-wrapper-7 .tgl-ios + .tgl-btn:hover:after {
    will-change: padding;
  }
  .checkbox-wrapper-7 .tgl-ios + .tgl-btn:active {
    box-shadow: inset 0 0 0 2em var(--bg4);
  }
  .checkbox-wrapper-7 .tgl-ios + .tgl-btn:active:after {
    padding-right: 0.8em;
  }
  .checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn {
    background: var(--bg3);
  }
  .checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn:active {
    box-shadow: none;
  }
  .checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn:active:after {
    margin-left: -0.8em;
  }
